:root {
    --font: 'Nunito';
    --bg-color: #1e1e1e;
    --main-bg-color: #ffab08;
    --accent-bg-color: #ff7020;

    --dekstop-border-radius: 50% 250px;

    --main-color: #d1d1d1;
    --accent-color: #1e1e1e;
    --second-color: #ff5c00;
    --gramm-color: #b1b1b1;

    --extra-big-font-size: 50px;
    --big-font-size: 40px;
    --middle-font-size: 24px;
    --mini-font-size: 16px;
    --tiny-font-size: 12px;
    --extra-bold: 800;
    --bold: 600;
    --regular: 400;
}